<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AutoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_AutoService" contract="CarService.Service.AutoService"
                name="BasicHttpBinding_AutoService" />
        </client>
    </system.serviceModel>
</configuration>