<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="CarServiceModelContainer" connectionString="metadata=res://*/CarServiceModel.csdl|res://*/CarServiceModel.ssdl|res://*/CarServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AUTO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="CarService.Service.AutoService" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8080/service" binding="basicHttpBinding" contract="CarService.Service.IAutoService" name="BasicHttpBinding_IAutoService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="mex" binding="mexHttpBinding" contract="IMetadataExchange" address="mex" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>